
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  width: 100%;
  background: #333;
  font-size: 1.6em;
  font-weight: 600;
  padding: 50px 150px;
}
#siteTitle {
  color: #fff;
  margin-bottom: 10px;
}
#controls {
  width: 100%;
  color: #fff;
  margin-bottom: 20px;
}
#controls label {
  margin-right: 10px;
}
#categorySelect {
  font-size: 0.7em;
  padding: 6px 10px;
  border-radius: 6px;
  border: 2px solid #000;
}
#products {
  width: 60%;
  min-height: 500px;
  margin: 50px auto;
  background: #aaa;
  border-radius: 8px;
  border: 4px solid #000;
  float: left;
  padding: 25px 25px;
}
  .card {
    width: 90%;
    height: 250px;
    background: #fff;
    border-radius: 8px;
    border: 3px solid #111;
    margin: 10px 5%;
    padding: 25px 50px;
  }
  .cartRow h2 {
    margin: 0;
    font-size: 1.1em;
    line-height: 1.2;
    white-space: nowrap;
  }
  .cartbutton {
    width: 150px;
    height: 35px;
    background-color: #2fde0c;
    border-radius: 8px;
    border: 2px solid #333;
    margin: 10px 0;
    cursor: pointer;
  }
  .productImage {
    width: 200px;
    border-radius: 8px;
    border: 2px solid #333;
    float: left;
    margin-right: 50px;
  }
#items {
  width: 40%;
  min-height: 500px;
  margin: 50px auto;
  background: #fff;
  border-radius: 8px;
  border: 4px solid #000;
  float: left;
  padding: 25px 50px;
}
#cartHeader {
  width: 100%;
  border-bottom: 2px solid #333;
  margin-bottom: 15px;
  padding-bottom: 10px;
  text-align: center;
}
#cartIcon {
  float: none;
  display: block;
  font-size: 2em;
  margin: 15px auto 4px auto;
  color: #000;
}
#cartCountText {
  float: none;
  display: block;
  font-size: 0.8em;
}
  .name {
    width: 60%;
    text-align: left;
    float: left;
    padding-left: 13px;
  }
  .price {
    width: 40%;
    text-align: right;
    float: left;
  }
  .totalPrice {
    text-align: right;
    font-size: 1.6em;
    padding: 15px 0;
    padding-right: 7px;
    border-radius: 4px;
    background: #2fde0c;
    color: #000;
    clear: both;
  }
  #checkoutBtn {
  width: 100%;
  padding: 10px;
  margin-top: 200px;
  background: #2fde0c;
  color: #000;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  cursor: pointer;
}